.works{
    color: rgb(255, 255, 255);
    padding-top: 100px;
}
.body1{
    height:100vh ;
}  

.container3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin: 0 auto;
    margin-left: 5rem;
    margin-right: 5rem;
}
@media(max-width:1650px){
    .container3{
        margin-right: 100px;
        overflow: hidden;
    }
    .right2{
        height: 60vh;
    }
}



@media(max-width:1400px){
    .works{
        margin-top: 0px;
    }
    .right2 img{
        height: 60vh;
        width: 100px;
        margin: 0;
    }
    .right2{
        margin: 0;
        width: 80vh;
    }
    .works{
        padding-top: 20px;
        padding: 0;
    }
    .container3{
        flex-direction: column;
        margin: 0;

    }
}
@media(max-width:850px){
    .body1{
        margin-top: 100px;
    }
    .container3{
        gap: 0;
    }
    .works{
        font-size: 60px;
    }
    .right2 img{
        height: 50vh;
    }
    .right2{
        width: 70vh;
    }
}
@media(max-width:850px){
    .body1{
        margin-top: 20rem;
    }
}
@media(max-width:510px){
    .body1{
        margin-top: 8rem;
    }
    .works{
        padding-left: 0;
        margin-left: 0;
        font-size: 50px;
    }
    .body1{
        padding-top: 0;
    }
    .right2{
        width: 50vh;
        height: 50vh;
    }
    .right2 img{
        height: 40vh;
    }
}